
:root {
    --primary-alpha: hsl(193, 38%, 86%);
    --primary-beta: hsl(150, 100%, 66%);
    --neutral-alpha: hsl(217, 19%, 38%,);
    --neutral-beta: hsl(217, 19%, 24%);
    --neutral-gamma: hsl(218, 23%, 16%);
}

body {
    background-color: var(--neutral-gamma);
    font-size: 28px;
    font-family: Manrope, Staatliches, Open-Sans;
    font-weight: 200;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
}

.card-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    color: var(--primary-alpha);
    background-color: var(--neutral-beta);
    border-radius: 20px;
    padding: 1.5rem;
    max-width: 500px;
}

.advice-header-container, .advice-body-container {
    text-align: center;
}

.card .advice-header {
    font-size: 1.5rem;
    color: var(--primary-beta);
}

.advice-btn {
    background-color: var(--primary-beta);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: 25px;
}

.divider {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.advice-btn img {
    background-color: var(--primary-beta);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .card-container {
        align-items: center;
        margin: 0 1rem;
        padding: 0;
    }
    
    .card {
        max-width: 350px;
        margin: 0 1rem;
        align-self: center;
    }
}